.element__button-like {
    width: 22px;
    height: 19px;
    padding: 0;
    border: 0;
    display: flex;
    align-self: center;
    background-size: cover;
    position: relative;
    background-image: url(../../../images/button/like.svg);
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    cursor: pointer;
}

.element__button-like:hover {
    opacity: 0.5;
}